
.to-do-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1 {
    font-size: 4rem;
    color: white;
}
button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: backgrond-color 0.5 ease;
}
.add-button {
    background-color: hsl(125, 66%, 59%);
}
.add-button:hover {
    background-color: hsl(125, 48%, 39%);
}
.delete-button {
    background-color: hsl(0, 100%, 44%);
}
.delete-button:hover {
    background-color: hsl(0, 100%, 28%);
}
.move-button {
    background-color: hsl(210, 100%, 41%);
}
.move-button:hover {
    background-color: hsl(210, 100%, 31%);
}
.Complete {
    background-color: hsl(117, 100%, 21%);
}
.Complete:hover {
    background-color: hsl(117, 95%, 30%);
}
.Undo {
    background-color: hsl(121, 100%, 50%);
}
.Undo:hover {
    background-color: hsl(121, 99%, 38%);
}
input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsl(0, 1%, 35%);
    border-radius: 5px;
    width: 80%;
    margin: 10px;
    color: hsla(0, 0%, 4%, 0.536);
}
ol {
    padding: 0;
}
li {
    
    padding: 5px;
    border-bottom: 1px solid hsl(0, 1%, 35%);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10PX;
    border: 3px solid hsla(0, 0%, 28%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: rgba(213, 213, 186, 0.826);
}
.text {
    flex: 1;
}
.delete-button, .move-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

.progress-tracker {
    margin-top: 20px;
    color: #e4e4e4;
}

.progress-bar {
    height: 12px;
    background: #6c757d; /* Neutral background for progress bar */
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.progress {
    height: 100%;
    background: linear-gradient(90deg, #feba01, #8bc34a); /* Gradient green for progress */
    border-radius: 10px;
    transition: width 0.3s ease;
}